.contacts {
	&__inner {
		display: flex;

		padding-left: 50px;
	}

	&__info {
		width: 240px;
		margin-right: 60px;

		&-box {
			margin-bottom: 30px;
		}
	}

	&__info-title {
		line-height: 24px;
		font-size: 21px;
		@extend %ubuntu-bold;
		margin: 0 0 12px;
	}

	&__info-email,
	&__info-phone {
		font-size: 15px;
		line-height: 18px;
	}

	&__info-email:hover {
		text-decoration: underline;
	}

	&__form {
		width: 570px;
		margin-right: 106px;
	}

	&__form-title {
		line-height: 24px;
		font-size: 21px;
		@extend %ubuntu-bold;
		margin: 0 0 12px;
	}

	&__form-text {
		font-size: 15px;
		line-height: 18px;
		margin: 0 0 12px;
	}

	&__form-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}


	&__form-input,
	&__form-textarea {
		@extend %ubuntu-regular;
		border: none;
		background: rgba(0, 0, 0, 0.5);
		padding: 15px;
		font-size: 13px;
		line-height: 15px;
		color: #fff;

		&::placeholder {
			color: rgba($color: #ffffff, $alpha: 0.4);
		}
	}

	&__form-input {
		width: 49%;
	}

	&__form-textarea {
		background: rgba(0, 0, 0, 0.5);
		min-height: 144px;
		width: 100%;
		resize: none;
		margin-bottom: 20px;
	}

	&__form-btn {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		@extend %ubuntu-bold;
		border: 1px solid #fff;
		padding: 9px 15px;
		background-color: transparent;
		cursor: pointer;
		color: #fff;
		border-radius: 3px;
		transition: all .3s linear;

		&:hover {
			background-color: #fff;
			color: #000;
		}
	}

	&__social-link {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	&__social-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__social-item {
		margin: 14px 0;
	}
}

.footer {
	position: absolute;
	bottom: 32px;
	left: 0;
	right: 0;

	&__copy {
		text-align: right;
		font-size: 13px;
		line-height: 15px;
		color: rgba($color: #fff, $alpha: 0.64);
	}
}